vision_test
__pycache__/
*.pyc
.ipynb_checkpoints/

data/cityscapes/disparity/test/*
data/cityscapes/disparity/train/*
data/cityscapes/disparity/val/*

data/cityscapes/gtFine/test/*
data/cityscapes/gtFine/train/*
data/cityscapes/gtFine/val/*

data/cityscapes/leftImg8bit/train/*
data/cityscapes/leftImg8bit/test/*
data/cityscapes/leftImg8bit/val/*

*.pth
*.pt
*.ckpt

.env
.vscode/
cpp_inference/build/*
src/vision.egg-info/*

